/*General*/

body {
  padding-top: 40px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

p {
  margin: 0;
}

.row {
  margin: 0;
}

/*Browse*/

.browse {
  float: right;
}

/*Search*/

.search {
  float: left;
}

/*Products and descriptions*/

.products {
  margin-top: 30px;
  margin-bottom: 30px;
}

.product {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  font-family: arial,sans-serif;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;

}

.item .title {
  text-align: justify;
  font-weight: bold;
}


.description {
  text-align: justify;
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description h1 {
  margin-top: 0px;
  font-size: 23px;
}
